*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}
html{
    scroll-behavior:smooth;
}
body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color:#0f0f0f;
    transition:all .3s;
}
:root{
    --main-color:#00ffff;
}
::-webkit-scrollbar{
    width:10px;
} 
::-webkit-scrollbar-thumb{
    background-color:#717171;
    border-radius:10px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}
/* start header */

.header{
    padding:1px 25px;
    display:flex;
    height:60px;
}
.header i{
    cursor: pointer;
}
.header > div{
    display:flex;
    align-items:center;
    justify-content:center;
}
.header .sub1 i:nth-child(1){
    color:white;
    font-size:20px;
    margin-right:25px;
}
.header .sub1 i:nth-child(2){
    color:#ff0000;
    font-size:30px;
}
.header .sub1 .white{
    position:relative;
}
/* .header .sub1 .white::before{
    content: '';
    position: absolute;
    top: -7px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 7px;

} */
.header .sub1 h1{
    color:white;
    letter-spacing:-2px;
    margin-left:3px;
}
.header .sub1 sup{
    top: -60px;
    color: #808080a3;
}
.header .sub2{
    flex:1;

}
.header .sub2 input{
    width: 500px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #8080806b;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left:15px;
    transition:.3s;
}
.header .sub2 input:focus{
    padding-left:40px;
    outline:.5px solid rgba(0, 89, 255, 0.719);
}
.header .sub2 input:focus + .position i{
    display:block;
}
.header .sub2 .position{
    position:relative;

}
.header .sub2 .position i{
    color: #8080806b;
    position: absolute;
    left: -485px;
    top: 50%;
    transform: translateY(-50%);
    display:none;
    transition:.3s;
}
.header .sub2 i:nth-child(3){
    background-color:#4848486b;
    color:white;
    width:75px;
    height:40px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #8080806b;
}
.header .sub2 i:nth-child(4){
    background-color:#3030304d;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    width:40px;
    border-radius:50%;
    margin-left:8px;
}
.header .sub2 i:nth-child(4):hover{
    background-color:#3030309e;
}
.header .sub3{
    
}
.header .sub3 i{
    color:white;
    margin-left:15px;
    height:40px;
    width:40px;
    border-radius:50%;  
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.header .sub3 i:nth-child(2){
    position:relative;
}
.header .sub3 i:nth-child(2)::after{
    content: '3';
    position: absolute;
    top: 4px;
    left: 19px;
    background-color: #9d0000;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.header .sub3 i:hover{
    background-color:#3030309e;
}
.header .sub3 span{
    background-color:#bf360c;
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:15px;
}

.header .sub1 .you{
    width:110px;
    height:110px;
    margin-top:6px;
}
.header .sub1 .you .youu .hh path{
    fill:white;
    
}
/* end header */
/* start side-bar */
.d-inline-block{
    display:inline-block;
}
.container{
    display:flex;
}

.side-bar{
    color:white;
    padding:0 35px 10px 10px;
    height:calc(100vh - 60px);
    overflow-y:scroll;
    transition:.3s;
    width:240px;
}
.side-bar::-webkit-scrollbar{
    width:10px;
    padding-left:30px;
    display:none;
} 
.side-bar:hover::-webkit-scrollbar{
    display:block;
}
.side-bar::-webkit-scrollbar-thumb{
    background-color:#717171;
    border-radius:10px;
}
.side-bar::-webkit-scrollbar-track{
    background-color:transparent;
}
.side-bar ul{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:0 0 20px 0;
    border-bottom:1px solid #8080806b;

}
.side-bar ul li{
    display:flex;
    align-items:center;
    font-size:21px;
    width:220px;
    height:40px;
    cursor:pointer;
    border-radius:10px;
    font-weight:300;
    padding-left:15px
}
.side-bar ul li:hover{
    background-color:#2c2c2c;
}
.side-bar ul li i{
    font-size:20px;
    width:42.5px;
}
.side-bar img{
    width:30px;
    height:30px;
    border-radius:50%;
    margin-right:15px;
}
.side-bar ul:nth-child(4) li{
    padding-right:0;
}
.side-bar ul:nth-child(4) li span{
    font-size:14px;
    flex:1;
}
.side-bar ul:nth-child(4) li:not(:last-child) i{
    color:#ff00009e;
}
.side-bar ul:nth-child(8) li i{
    color:#ff0000d1;
}
.side-bar ul:nth-child(4) li:nth-child(8){
    font-size:16px;
}
.side-bar ul:nth-child(10) li:nth-child(3) div{
    width:42.5px;
}
.side-bar ul:nth-child(10) li:nth-child(3) div span{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
}
.side-bar ul:nth-child(10) li:nth-child(4) div{
    width:42.5px;
}
.side-bar ul:nth-child(10) li:nth-child(4) div span{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
}
.side-bar .links a{
    color:white;
    font-weight:200;
}
.side-bar .links .sec1 , .sec2{
    margin-bottom:15px;
    padding-left:15px;
}
.side-bar .span{
    font-size: 13.5px;
    color: #686868;
    padding-left:15px;
}
.side-bar h3{
    padding-left:15px;
}
.side-bar h3:nth-child(7){
    font-size:18px;
}
/* end side-bar */
/* start bar */
.hackouna{
    padding-top:12px;
    height:calc(100vh - 60px);
    width:calc(100% - 240px);
}
.bar{
    display:flex;
    gap:10px;
    width:calc(100% - 82px);
    overflow:hidden;
    white-space:nowrap;
    padding:0 15px;
}
.bar span.active{
    background-color:#ffffff;
    color:black;
}
.bar span{
    background-color: #3f3f3f;
    color: white;
    padding: 7px 11px;
    border-radius: 10px;
}
.bar span:last-child{
    background:linear-gradient(177deg , #3f3f3f96, transparent );
}

body::before{
    content: '\f054';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
    position: absolute;
    right: 29px;
    top: 68px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
body::before:hover{
    color:red
}
/* end bar */
/* start content */
.content::-webkit-scrollbar{
    width:10px;
    display: block !important;
    
} 
.content::-webkit-scrollbar-thumb{
    background-color:#717171;
    border-radius:10px;
}
.content::-webkit-scrollbar-track{
    background-color:transparent;
}
.content{
    padding:15px 15px;
    overflow-y:scroll;
    display:grid;
    grid-template-columns:repeat(auto-fill , minmax(250px , 1fr));
    gap:40px;
    /* grid-template-areas:"box1 box2 box3 box4"; */
}
.content .box{
    height:236.38px;
}
.content .box .image {
    width:100%;
}
.content .box .image img{
    width:100%;
    height:150px;
    margin-bottom:7px;
    border-radius:10px;
    height:150px;
}
.content .box {
    display:flex;
    flex-wrap:wrap;
    cursor:pointer;
    transition:.3s;
    position:relative;
}
.content .box:hover{
    transform:scale(1.2);
    padding: 10px;
    border-radius: 10px;
}
.content .box .info{
    display:flex;
}
.content .box .info img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}
.content .box .info p{
    color:white;
    font-size:15px;
    display:inline-block;
    margin:0 0 6px 0;
}
.content .box .info h4{
    color:#707070;
    font-size:14px;
    margin:0;
}
.content .box .info span{
    color:#707070;
    font-size:14px;
    margin:0;
}
.content .box .info span sup{
    font-weight:bold;
}
/* .content .box1{
    grid-area:"box1";
}
.content .box2{
    grid-area:"box2";
}
.content .box3{
    grid-area:"box3";
}
.content .box4{
    grid-area:"box4";
} */

.content .box::after{
    content: '4:40';
    position: absolute;
    bottom: 92px;
    right: 8px;
    width: 47px;
    height: 20px;
    border-radius: 5px;
    background-color: #000000bf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;   

}
.content .box:nth-child(1)::after{
    content:'03:50';
}
.content .box:nth-child(2)::after{
    content:'05:50';
}
.content .box:nth-child(3){
    overflow:hidden;
}
.content .box:nth-child(3) .image{
    overflow:hidden;
}
.content .box:nth-child(3) .image img{
    transform:scale(1.1);
    border-radius:37px;
    overflow:hidden;
}
.content .box:nth-child(3)::after{
    width: 102%;
    content: '';
    position: absolute;
    bottom: 79.22px;
    right: -3px;
    height: 25px;
    border-radius: 5px;
    background-color: #354d4bad;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom-right-radius: 47px;
    border-bottom-left-radius: 47px; 
    transition: 0.3s;   
}
.content .box:nth-child(3)::before{
    content: "\f04b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
    position: absolute;
    z-index: 100;
    bottom: 83px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    transition: 0.3s;   

}
.content .box:nth-child(3):hover::after{
    right: 8px;
    bottom: 69px;
    width: 94%;
}
.content .box:nth-child(3):hover::before{
    bottom:74px;
}
.content .box:nth-child(4)::after{
    content:'12:50';
    display:none;
}
.content .box:nth-child(5)::after{
    content:'03:50';
}
.content .box:nth-child(6)::after{
    content:'06:50';
}
.content .box:nth-child(7)::after{
    content:'07:50';
}
.content .box:nth-child(8)::after{
    content:'03:15';
}
.content .box:nth-child(9)::after{
    content:'03:02:50';
    width:80px;
}
.content .box:nth-child(10)::after{
    content:'00:50';
}
.content .box:nth-child(11)::after{
    content:'03:50';
}
.content .box:nth-child(12)::after{
    content:'01:50';
}
.content .box:nth-child(13)::after{
    content:'02:50';
}
.content .box:nth-child(14)::after{
    content:'03:50';
}
.content .box:nth-child(15)::after{
    content:'04:50';
}
.content .box:nth-child(16)::after{
    content:'07:50';
}
.content .box:nth-child(17)::after{
    content:'08:50';
}
.content .box:nth-child(18)::after{
    content:'03:50';
}
.content .box:nth-child(19)::after{
    content:'05:50';
}
.content .box:nth-child(20)::after{
    content:'09:50';
}
.content .box:nth-child(21)::after{
    content:'08:50';
}
.content .box:nth-child(22)::after{
    content:'04:50';
}
.content .box:nth-child(23)::after{
    content:'06:12';
}
.content .box:nth-child(24)::after{
    content:'05:50';
}
.content .box:nth-child(25)::after{
    content:'03:50';
}
.content .box:nth-child(26)::after{
    content:'01:50';
}
.content .box:nth-child(27)::after{
    content:'07:50';
}
.content .box:nth-child(28)::after{
    content:'04:50';
}
.content .box:nth-child(29)::after{
    content:'53:50';
}
.content .box:nth-child(30)::after{
    content:'13:50';
}
.content .box:nth-child(31)::after{
    content:'02:50';
}
.content .box:nth-child(32)::after{
    content:'04:50';
}
.content .box:nth-child(33)::after{
    content:'08:50';
}
.content .box:nth-child(34)::after{
    content:'02:50';
}
.content .box:nth-child(35)::after{
    content:'03:10';
}
.content .box:nth-child(36)::after{
    content:'18:30';
}
.content .box:nth-child(37)::after{
    content:'12:50';
}
.content .box:nth-child(38)::after{
    content:'03:50';
}
.content .box:nth-child(39)::after{
    content:'01:50';
}
.content .box:nth-child(40)::after{
    content:'06:50';
}
.content .box:nth-child(41)::after{
    content:'08:50';
}
.content .box:nth-child(42)::after{
    content:'04:50';
}
.content .box:nth-child(43)::after{
    content:'05:50';
}
.content .box:nth-child(44)::after{
    content:'02:50';
}
.content .box:nth-child(45)::after{
    content:"30:50";
}
.content .box:nth-child(46)::after{
    content:'01:03:50';
    width:80px;
}
.content .box:nth-child(47)::after{
    content:'02:50';
}
.content .box:nth-child(48)::after{
    content:'16:50';
}
.content .box:nth-child(49)::after{
    content:'12:50';
}
.content .box:nth-child(50)::after{
    content:'09:50';
}
.content .box:nth-child(51)::after{
    content:'01:50';
}
.content .box:nth-child(52)::after{
    content:'02:30';
}
.content .box:nth-child(53)::after{
    content:'03:15';
}
.content .box:nth-child(54)::after{
    content:'03:30';
}
.content .box:nth-child(55)::after{
    content:'06:50';
}
.content .box:nth-child(56)::after{
    content:'01:50';
}
.content .box:nth-child(57)::after{
    content:'08:50';
}
.content .box:nth-child(58)::after{
    content:'03:50';
}
.content .box:nth-child(59)::after{
    content:'02:15';
}
.content .box:nth-child(60)::after{
    content:'10:50';
}
.content .box:nth-child(61)::after{
    content:'08:50';
}
.content .box:nth-child(62)::after{
    content:'02:50';
}
.content .box:nth-child(63)::after{
    content:'03:20';
}
.content .box:nth-child(64)::after{
    content:'07:50';
}
.content .box:hover::after{
    right: 16px;
    bottom: 82px;
}
@media (max-width:400px){
   .header .sub1 .title .you{
    width: 95px;
    margin-bottom: -17px;
    margin-left: -15px;
   }
   .header .sub1 .title sup{
    left:77px;
    top:-63px;  
   }
   .header .sub2 input{
    width:60px;
    padding:0 0 0 4px;
    margin-left:17px;
   }
   .header .sub2 input::placeholder{
    font-size:12px;
   }
   .header .sub2 i:nth-child(3){
    width:35px;
   }
   .header .sub3 i{
    margin:0;
   }
   .header .sub3 i:nth-child(1){
    display:none;
   }
   .header .sub3 span{
    margin:0;
   }
   .side-bar ul:nth-child(2) li:not(:first-child){
       display:none;
       
    }
    .side-bar ul:nth-child(2){
        margin-top:0;
        padding-top:0;
        border:none;
    }
   .side-bar ul:nth-child(1){
    border:none;
    margin-bottom:0;
    padding-bottom:0;
   }
   .side-bar{
    width:50px;
   }
   .side-bar ul li {
    margin:0 0 18px 0;
   }
   
   .side-bar h3:nth-child(3) , ul:nth-child(4) , h3:nth-child(5) , ul:nth-child(6) , h3:nth-child(7) , ul:nth-child(8) , h3:nth-child(9) , ul:nth-child(10) , h3:nth-child(11) , ul:nth-child(12) , div.links , span.span{
    display:none;
   }
   .container{
    width:100%;
   }
   .hackouna{
    width:calc(100% - 50px);
   }

}
/* end content */

